<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   				
 <mapper namespace="repository.mapper.BucketMapper">
	<cache />

	<resultMap type="Bucketlist" id="BaseResultMap">
      <!-- id : primary key 속성명 jdbcType : 데이터베이스 자료형 -->
      <id column="bk_name" jdbcType="VARCHAR" property="bkName"/>
      <id column="c_email" jdbcType="VARCHAR" property="cEmail"/>
      <result column="bk_content" jdbcType="CLOB" property="bkContent"/>
      <result column="bk_max" jdbcType="BIGINT" property="bkMax"/>
      <result column="bk_purpose" jdbcType="VARCHAR" property="bkPurpose"/>
      <result column="bk_date" jdbcType="TIMESTAMP" property="bkDate"/>
      <result column="bk_due" jdbcType="TIMESTAMP" property="bkDue"/>
      <result column="bk_sort" jdbcType="VARCHAR" property="bkSort"/>
      <result column="bk_check" jdbcType="VARCHAR" property="bkCheck"/>
      <result column="photo_URL" jdbcType="VARCHAR" property="photoURL"/>
   </resultMap>
	
	
	<resultMap type="Reservation" id="BaseResultMap2">
	      <!-- id : primary key 속성명 jdbcType : 데이터베이스 자료형 -->
	      <id column="bk_name" jdbcType="VARCHAR" property="bkName"/>
	      <id column="m_email" jdbcType="VARCHAR" property="mEmail"/>
	      <id column="c_email" jdbcType="VARCHAR" property="cEmail"/>
	      <result column="visit_date" jdbcType="DATE" property="resDate"/>
	      <result column="persons" jdbcType="BIGINT" property="resInt"/>
	      <result column="reser_check" jdbcType="VARCHAR" property="resCheck"/>
	      <result column="reser_date" jdbcType="DATE" property="regDate"/>
	      <result column="re_comment" jdbcType="VARCHAR" property="resCf"/>
	   </resultMap>
	   
	   	<resultMap type="Reservation_Bucketlist" id="BaseResultMap3">
	      <!-- id : primary key 속성명 jdbcType : 데이터베이스 자료형 -->
	      <id column="bk_name" jdbcType="VARCHAR" property="bkName"/>
	      <id column="m_email" jdbcType="VARCHAR" property="mEmail"/>
	      <id column="c_email" jdbcType="VARCHAR" property="cEmail"/>
	      <result column="visit_date" jdbcType="DATE" property="resDate"/>
	      <result column="persons" jdbcType="BIGINT" property="resInt"/>
	      <result column="reser_check" jdbcType="VARCHAR" property="resCheck"/>
	      <result column="reser_date" jdbcType="DATE" property="regDate"/>
	      <result column="re_comment" jdbcType="VARCHAR" property="resCf"/>
	      
	      <result column="BK_CONTENT" jdbcType="VARCHAR" property="bkContent"/>
	      <result column="BK_MAX" jdbcType="BIGINT" property="bkMax"/>
	      <result column="BK_PURPOSE" jdbcType="VARCHAR" property="bkPurpose"/>
	      <result column="BK_DATE" jdbcType="DATE" property="bkDate"/>
	      <result column="BK_DUE" jdbcType="DATE" property="bkDue"/>
	      <result column="BK_SORT" jdbcType="VARCHAR" property="bkSort"/>
	      <result column="BK_CHECK" jdbcType="VARCHAR" property="bkCheck"/>
	      <result column="PHOTO_URL" jdbcType="VARCHAR" property="photoURL"/>
	   </resultMap>

	<select id="selectBucketALL" 
	resultMap="BaseResultMap">
	SELECT 
   			*
	   	FROM bucket_request
	</select>
	
	
	<select id="selectBucketSearch" parameterType="string"
	resultMap="BaseResultMap">
	SELECT 
   			*
	   	FROM bucket_request
	   	WHERE bk_purpose=#{search}
	</select>
	
	<select id="selectBucketOne" parameterType="Bucketlist" 
	resultMap="BaseResultMap">
	SELECT *
	   	FROM bucket_request
	   	WHERE bk_name= #{bkName}
	   	
	</select>
	
	
	<insert id="InsertBucket" parameterType="Bucketlist" >
		INSERT INTO bucket_request
	   	VALUES(#{bkName},#{cEmail},#{bkContent},#{bkMax},#{bkPurpose},#{bkDate},#{bkDue},'업체버킷',#{bkCheck},#{photoURL})
	</insert>
	
	<select id="selectReservList" parameterType="Reservation"
	resultMap="BaseResultMap2">
	SELECT 
   			*	
	   	FROM Reservation  
	   	  	WHERE bk_name= #{bkName} AND m_email= #{mEmail} AND rownum <![CDATA[>=]]> #{resInt} AND rownum  <![CDATA[<=]]> #{resInt}
	</select>
	
	<select id="selectReservList_mypage" parameterType="Reservation"
	resultMap="BaseResultMap3">
	SELECT 
   			*	
	   		FROM Reservation  r, Bucket_request b
	   	  	WHERE r.bk_name=b.bk_name AND r.m_email= #{mEmail} 
	</select>
	
		<select id="selectReservList_mypage_NY" parameterType="Reservation"
	resultMap="BaseResultMap3">
	SELECT 
   			*	
	   		FROM Reservation  r, Bucket_request b
	   	  	WHERE r.bk_name=b.bk_name AND r.m_email= #{mEmail} AND r.RESER_CHECK=#{resCheck} 
	</select>
	
	
    <insert id="InsertReserv" parameterType="Reservation" >
		INSERT INTO Reservation
	   	VALUES(#{bkName},#{mEmail},#{cEmail},#{resDate},#{resInt},'N', sysdate,#{resCf})
	</insert>
	
	
	<update id="updateReservList_mypage" parameterType="Reservation">
		  UPDATE Reservation
            SET reser_check=#{resCheck}
            WHERE m_email=#{mEmail} AND bk_Name=#{bkName}
	</update>

	<delete id="delteReservList_mypage" parameterType="Reservation">
	 DELETE FROM Reservation
            WHERE m_email=#{mEmail} AND bk_Name=#{bkName}
	</delete>
</mapper>