<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   				
 <mapper namespace="repository.mapper.BucketMapper">
	<cache />

	<resultMap type="Bucketlist" id="BaseResultMap">
      <!-- id : primary key 속성명 jdbcType : 데이터베이스 자료형 -->
      <id column="bk_name" jdbcType="VARCHAR" property="bkName"/>
      <id column="c_email" jdbcType="VARCHAR" property="cEmail"/>
      <result column="bk_content" jdbcType="CLOB" property="bkContent"/>
      <result column="bk_max" jdbcType="BIGINT" property="bkMax"/>
      <result column="bk_purpose" jdbcType="VARCHAR" property="bkPurpose"/>
      <result column="bk_date" jdbcType="TIMESTAMP" property="bkDate"/>
      <result column="bk_due" jdbcType="TIMESTAMP" property="bkDue"/>
      <result column="bk_sort" jdbcType="VARCHAR" property="bkSort"/>
      <result column="bk_check" jdbcType="VARCHAR" property="bkCheck"/>
      <result column="photo_URL" jdbcType="VARCHAR" property="photoURL"/>
   </resultMap>
	
	
	<resultMap type="Reservation" id="BaseResultMap2">
	      <!-- id : primary key 속성명 jdbcType : 데이터베이스 자료형 -->
	      <id column="bk_name" jdbcType="VARCHAR" property="bkName"/>
	      <id column="m_email" jdbcType="VARCHAR" property="mEmail"/>
	      <id column="c_email" jdbcType="VARCHAR" property="cEmail"/>
	      <result column="visit_date" jdbcType="DATE" property="resDate"/>
	      <result column="persons" jdbcType="BIGINT" property="resInt"/>
	      <result column="reser_check" jdbcType="VARCHAR" property="resCheck"/>
	      <result column="reser_date" jdbcType="DATE" property="regDate"/>
	      <result column="re_comment" jdbcType="VARCHAR" property="resCf"/>
	   </resultMap>
	   
	   	<resultMap type="Reservation_Bucketlist" id="BaseResultMap3">
	      <!-- id : primary key 속성명 jdbcType : 데이터베이스 자료형 -->
	      <id column="bk_name" jdbcType="VARCHAR" property="bkName"/>
	      <id column="m_email" jdbcType="VARCHAR" property="mEmail"/>
	      <id column="c_email" jdbcType="VARCHAR" property="cEmail"/>
	      <result column="visit_date" jdbcType="DATE" property="resDate"/>
	      <result column="persons" jdbcType="BIGINT" property="resInt"/>
	      <result column="reser_check" jdbcType="VARCHAR" property="resCheck"/>
	      <result column="reser_date" jdbcType="DATE" property="regDate"/>
	      <result column="re_comment" jdbcType="VARCHAR" property="resCf"/>
	      
	      <result column="BK_CONTENT" jdbcType="VARCHAR" property="bkContent"/>
	      <result column="BK_MAX" jdbcType="BIGINT" property="bkMax"/>
	      <result column="BK_PURPOSE" jdbcType="VARCHAR" property="bkPurpose"/>
	      <result column="BK_DATE" jdbcType="DATE" property="bkDate"/>
	      <result column="BK_DUE" jdbcType="DATE" property="bkDue"/>
	      <result column="BK_SORT" jdbcType="VARCHAR" property="bkSort"/>
	      <result column="BK_CHECK" jdbcType="VARCHAR" property="bkCheck"/>
	      <result column="PHOTO_URL" jdbcType="VARCHAR" property="photoURL"/>
	   </resultMap>
	   
	   <resultMap type="Bucket_Review" id="BaseResultMap4">
	      <!-- id : primary key 속성명 jdbcType : 데이터베이스 자료형 -->
	      <id column="BKRV_NUM" jdbcType="BIGINT" property="bkrvNum"/>
	      <result column="M_EMAIL" jdbcType="VARCHAR" property="mEmail"/>
	      <result column="BK_NAME" jdbcType="VARCHAR" property="bkName"/>
	      <result column="C_EMAIL" jdbcType="VARCHAR" property="cEmail"/>
	      <result column="BKRV_DATE" jdbcType="DATE" property="bkrvDate"/>
	      <result column="BKRV_TITLE" jdbcType="VARCHAR" property="bkrvTitle"/>
	      <result column="BKRV_CONTENT" jdbcType="CLOB" property="bkrvContent"/>
	      <result column="BKRV_PHOTO" jdbcType="VARCHAR" property="bkrvPhoto"/>
	      <result column="BKRV_SCORE" jdbcType="BIGINT" property="bkrvScore"/>
	      <result column="BKRV_CHECK" jdbcType="VARCHAR" property="bkrvCheck"/>
	   </resultMap>

	<select id="selectBucketALL" 
	resultMap="BaseResultMap">
	SELECT 
   			*
	   	FROM bucket_request
	</select>
	
	
	<select id="selectBucketSearch" parameterType="string"
	resultMap="BaseResultMap">
	SELECT 
   			*
	   	FROM bucket_request
	   	WHERE bk_purpose=#{search}
	</select>
	
	
	<select id="selectReservList_Mmypage" parameterType="Reservation"
	resultMap="BaseResultMap3">
	SELECT 
   			*	
	   		FROM Reservation  r, Bucket_request b
	   	  	WHERE r.bk_name=b.bk_name AND r.m_email= #{mEmail} 
	</select>
	
	
	<select id="selectBucketOne" parameterType="Bucketlist" 
	resultMap="BaseResultMap">
	SELECT *
	   	FROM bucket_request
	   	WHERE bk_name= #{bkName}
	   	
	</select>
	
	<select id="takeLinkDataNum" parameterType="Bucket_Review" 
	resultType="integer">
	SELECT BKRV_NUM
	   	FROM bucket_review
	   	WHERE bk_name= #{bkName} AND C_EMAIL= #{cEmail} AND m_EMAIL= #{mEmail} AND TO_CHAR(BKRV_CONTENT)=#{bkrvContent} 	
	</select>
	
	<insert id="InsertLinkData" parameterType="Bucket_Review" >
		INSERT INTO Link_data
	   	VALUES(LD_SEQ.NEXTVAL,#{bkrvNum},'GRAB','http://localhost:8088/mybatis-spring-web/Bucket_mypage_wish')
	</insert>
	
	<insert id="InsertBucket" parameterType="Bucketlist" >
		INSERT INTO bucket_request
	   	VALUES(#{bkName},#{cEmail},#{bkContent},#{bkMax},#{bkPurpose},#{bkDate},#{bkDue},#{bkSort},#{bkCheck},#{photoURL})
	</insert>
	
	<select id="selectReservList" parameterType="Reservation"
	resultMap="BaseResultMap2">
	SELECT 
   			*	
	   	FROM Reservation  
	   	  	WHERE bk_name= #{bkName} AND m_email= #{mEmail} AND rownum <![CDATA[>=]]> #{resInt} AND rownum  <![CDATA[<=]]> #{resInt}
	</select>
	
	<select id="selectReservList_mypage" parameterType="Reservation"
	resultMap="BaseResultMap3">
	SELECT 
   			*	
	   		FROM Reservation  r, Bucket_request b
	   	  	WHERE r.bk_name=b.bk_name AND r.m_email= #{mEmail} 
	</select>
	
	<insert id="InsertMemberList_mypage" parameterType="Reservation" >
		INSERT INTO Member_bucket
	   	VALUES(#{mEmail},#{bkName},#{cEmail},sysdate,'Y')
	</insert>
	
	<select id="selectReservList_mypage_NY" parameterType="Reservation"
	resultMap="BaseResultMap3">
	SELECT 
   			*	
	   		FROM Reservation  r, Bucket_request b
	   	  	WHERE r.bk_name=b.bk_name AND r.m_email= #{mEmail} AND r.RESER_CHECK=#{resCheck} 
	</select>
	
	
    <insert id="InsertReserv" parameterType="Reservation" >
		INSERT INTO Reservation
	   	VALUES(#{bkName},#{mEmail},#{cEmail},#{resDate},#{resInt},'N', sysdate,#{resCf})
	</insert>
	
	
	<update id="updateReservList_mypage" parameterType="Reservation">
		  UPDATE Reservation
            SET reser_check=#{resCheck}
            WHERE m_email=#{mEmail} AND bk_Name=#{bkName}
	</update>

	<delete id="delteReservList_mypage" parameterType="Reservation">
	 DELETE FROM Reservation
            WHERE m_email=#{mEmail} AND bk_Name=#{bkName}
	</delete>
	
	<insert id="InsertBucket_Review" parameterType="Bucket_Review" >
		INSERT INTO Bucket_Review
	   	VALUES(BR_SEQ.NEXTVAL,#{mEmail},#{bkName},#{cEmail},sysdate,#{bkrvTitle},#{bkrvContent},NULL,#{bkrvScore},'N')
	</insert>
	
	
	<delete id="deleteReservList_mypage" parameterType="Bucket_Review">
	DELETE FROM Bucket_Review 
            WHERE m_email=#{mEmail} AND bk_Name=#{bkName}
	</delete>
	
	<select id="selectBucket_Review" resultMap="BaseResultMap4">
	SELECT 
   			*
	   	FROM Bucket_Review
	   	WHERE BKRV_CHECK='Y'
	</select>
	
	<select id="Bucket_main_review_mypage"  parameterType="Bucket_Review"
	 resultMap="BaseResultMap4">
	SELECT 
   			*
	   	FROM Bucket_Review 
	   	WHERE m_email=#{mEmail}
	</select>
	
	<select id="selectBucket_Review_mypage_detail"  parameterType="Bucket_Review"
	  resultMap="BaseResultMap4">
	SELECT 
   			*
	   	FROM Bucket_Review 
	   	WHERE m_email=#{mEmail} AND bk_name=#{bkName}
	</select>
	
	<delete id="selectBucket_Review_mypage_delete" parameterType="Bucket_Review">
	DELETE FROM Bucket_Review 
            WHERE m_email=#{mEmail} AND bk_Name=#{bkName}
	</delete>
	
	<update id="Bucket_reviewCheck_update" parameterType="Bucket_Review">
		  UPDATE Bucket_Review
            SET BKRV_CHECK=#{bkrvCheck}
            WHERE BKRV_NUM=#{bkrvNum}
	</update>
	
</mapper>