<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.BuyProductMapper">
	<cache />

	<resultMap type="BuyProduct" id="BaseResultMap">
		<!-- id : primary, key 속성명, jdbcType : 데이터베이스 자료형 -->
		<id column="buy_num" jdbcType="BIGINT" property="buyNum" />
		<result column="buy_date" jdbcType="DATE" property="buyDate" />
		<result column="total_price" jdbcType="VARCHAR" property="totalPrice" />
		<result column="how_deliver" jdbcType="VARCHAR" property="howDeliver" />
		<result column="receiver" jdbcType="VARCHAR" property="receiver" />
		<result column="recei_addr" jdbcType="VARCHAR" property="receiAddr" />
		<result column="m_email" jdbcType="VARCHAR" property="mEmail" />
	</resultMap>

	<select id="selectMaxBuyNumByCondition" parameterType="BuyProduct"
		resultMap="BaseResultMap">
		SELECT
			 * 
		FROM
			buy_product
		where
			buy_num = (select max(buy_num) from buy_product)
	</select>

	<insert id="insertBuyProductByCondition" parameterType="BuyProduct">
		INSERT
		INTO
		buy_product
		 (buy_num, buy_date, total_price, how_deliver, receiver, recei_addr, m_email)
		VALUES (#{buyNum},#{buyDate},#{totalPrice},#{howDeliver},#{receiver},#{receiAddr},#{mEmail})
	</insert>


</mapper>