<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="repository.mapper.JoinBuyListABuyProductMapper">
	<cache />

	<resultMap type="JoinBuyListABuyProduct" id="BaseResultMap">
		<!-- id : primary, key 속성명, jdbcType : 데이터베이스 자료형 -->
		<result column="buy_date" jdbcType="DATE" property="buyDate" />
		<result column="prod_name" jdbcType="VARCHAR" property="prodName" />
		<result column="b_quantity" jdbcType="VARCHAR" property="bQuantity" />
		<result column="total_price" jdbcType="VARCHAR" property="totalPrice" />
		<result column="prod_pic" jdbcType="VARCHAR" property="prodPic" />
		<result column="c_email" jdbcType="VARCHAR" property="cEmail" />
		
	</resultMap>
	
	
	<select id="selectProductEmailByCondition" parameterType="JoinBuyListABuyProduct"
		resultMap="BaseResultMap">
		SELECT
			bp.buy_date, bl.prod_name, bl.b_quantity, bp.total_price, pd.prod_pic, pd.C_EMAIL
		FROM
			buy_product bp, buy_list bl,  product pd
		where
			bp.buy_num = bl.buy_num and bl.PROD_NAME = pd.PROD_NAME and bp.m_email = #{value}
		ORDER BY buy_date DESC
	</select>

</mapper>