<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   				
 <mapper namespace="repository.mapper.LoginMapper">
	<cache />

     <resultMap type="Member" id="MemberResultMap">
      <!-- id : primary key 속성명 jdbcType : 데이터베이스 자료형 -->
      <id column="m_email" jdbcType="VARCHAR" property="mEmail"/>
      <result column="m_pw" jdbcType="VARCHAR" property="mPw"/>
      <result column="m_name" jdbcType="VARCHAR" property="mName"/>
      <result column="m_tel" jdbcType="VARCHAR" property="mTel"/>
      <result column="m_birth" jdbcType="DATE" property="mBirth"/>
      <result column="m_gen" jdbcType="VARCHAR" property="mGen"/>
      <result column="m_postnum" jdbcType="VARCHAR" property="mPost"/>
      <result column="m_addr" jdbcType="VARCHAR" property="mAddr"/>
      <result column="m_addr_detail" jdbcType="VARCHAR" property="mAddr_d"/>
      <result column="m_attendcount" jdbcType="BIGINT" property="mAttendcount"/>
      <result column="m_profile" jdbcType="VARCHAR" property="mProfile"/>
      <result column="m_license" jdbcType="BIGINT" property="mLicense"/>
      <result column="m_authority" jdbcType="VARCHAR" property="mAuthority"/>
      <result column="bank" jdbcType="VARCHAR" property="bank"/>
      <result column="account" jdbcType="VARCHAR" property="account"/>
   </resultMap>

	<select id="selectMemberByLoginCheck" parameterType="Member"
	resultMap="MemberResultMap">
		SELECT * FROM member
		<where>
			<if test="mEmail != null">
				m_email = #{mEmail} AND m_pw = #{mPw}
			</if>
		</where>
	</select>
	
	<!-- <select id="selectRegisterByCondition" parameterType="Member"
		resultMap="BaseResultMap">
		SELECT
			*
		FROM member
		<if test ="mEmail != null"></if>		
	</select> -->
	
	<insert id="insertRegisterByCondition" parameterType="Member">
		INSERT INTO member(
		m_email,
		m_pw,
		m_name,
		m_tel,
		m_birth,
		m_gen,
		m_Postnum,
		m_addr,
		m_addr_detail,
		m_attendcount,
        m_authority)
		VALUES(#{mEmail},#{mPw},#{mName},#{mTel},#{mBirth},#{mGen},#{mPost},#{mAddr},#{mAddr_d},0,0)
	</insert>
	
	 <insert id="insertRegisterEnterByCondition" parameterType="Member">
		INSERT INTO member(
		m_name,
		m_pw,
		m_email,
		m_tel,
		m_license,
		m_Postnum,
		m_addr,
		m_addr_detail,
		m_attendcount,
        m_authority)
		VALUES(#{mName},#{mPw},#{mEmail},#{mTel},#{mLicense},#{mPost},#{mAddr},#{mAddr_d},0,0)
	</insert>
 
	
<!-- 	<update id="updateByCondition" parameterType="Member" >
		UPDATE member
			<set>
				<if test="m_profile !=null">
					m_profile=#{mProfile},
				</if>
				<if test="m_email !=null">
					m_tel=#{mTel}
				</if>
			</set>
			<where>
				m_email =#{mEmail}
			</where>
	</update> -->

</mapper>