<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   				
 <mapper namespace="repository.mapper.PwmailMapper">
	<cache />

	
	<update id="updateEmail" parameterType="Member">
		UPDATE member
			
			set		m_pw = #{mPw}
		
			
				where m_email = #{mEmail} 
	
	</update>
	
</mapper>
	
	