body{background: #ffffff;min-width: 1300px;}

#wrap{position:relative;top: 0;bottom: 0;left: 0; right: 0;background-color:white;}

.section_top {height:430px;overflow:hidden;text-align:center;}
.section_top .title_text {margin-top:150px;font-size:34px;color:#444;text-align:center;font-weight:300;line-height:55px;position:relative;top:30px;opacity:0;filter:alpha(opacity=0);}
.section_top .title_text span {font-weight:500;}
.section_top .title_text.active {top:0;opacity:1;filter:alpha(opacity=100);}
.section_top .scroll_text {margin-top:40px;text-align:center;padding-bottom:40px;font-size:20px;color:#f68c5e;background:url('../images/service/ico_scroll.png') no-repeat center bottom;position:relative;opacity:0;filter:alpha(opacity=0);}
.section_top .scroll_text.active {opacity:1;filter:alpha(opacity=100);}

.section_service {position:relative;overflow:hidden;background:#fff;padding-top:100px;}
.section_service .list_area {width:1200px;margin:0 auto;position:relative;padding-bottom:90px;}
.section_service .list_area .title_area {height:34px;position:relative;text-align:center;overflow:hidden;}
.section_service .list_area .title_area:after {content:'';width:0;height:1px;background:#b2b2b2;position:absolute;right:50%;top:15px;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
.section_service .list_area .title_area:before {content:'';width:0;height:1px;background:#b2b2b2;position:absolute;left:50%;top:15px;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}

.section_service .list_area .title_area.active:after {width:50%;}
.section_service .list_area .title_area.active:before {width:50%;}

.section_service .list_area .title_area .title_box {padding:0 70px;background:#fff;font-size:25px;color:#222;display:inline-block;position:relative;z-index:2;top:34px;}
.section_service .list_area .title_area .title_box.active {top:0;}
.section_service .list_area .title_area .title_box span {font-size:28px;font-weight:700;}

.section_service .list_area .list_ul {overflow:hidden;margin-top:65px;}
.section_service .list_area .list_ul li {width:380px;float:left;margin-right:30px;position:relative;padding-top:385px;}
.section_service .list_area .list_ul li:nth-child(3) {margin-right:0;}

.section_service .list_area .list_ul li .thumb {height:0;position:absolute;left:0;top:0;z-index:2;}
.section_service .list_area .list_ul li .thumb.active {height:360px;}
.section_service .list_area .list_ul li .thumb .bg {position:relative;top:-70px;}
.section_service .list_area .list_ul li .thumb .logo {width:100%;position:absolute;left:0;top:154px;text-align:center;}
.section_service .list_area .list_ul li .thumb .logo.active {top:210px;}

.section_service .list_area .list_ul li .thumb .btn_detail_view {width:108px;height:33px;border:1px solid #fff;position:absolute;left:50%;top:314px;margin-left:-55px;font-size:14px;color:#fff;text-align:center;line-height:34px;opacity:0;visibility:hidden;}
.section_service .list_area .list_ul li .thumb .btn_detail_view.active {top:294px;opacity:1;visibility:visible;}
.section_service .list_area .list_ul li .thumb .btn_detail_view:before {content:'';width:30px;height:9px;background:url('../images/service/ico_arrow_white.png') no-repeat 0 0;position:absolute;left:-16px;top:9px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.section_service .list_area .list_ul li .thumb .btn_detail_view:hover:before {left:0;opacity:0;}

.section_service .list_area .list_ul li .text_box {height:166px;position:relative;padding-left:20px;opacity:0;top:-30px;}
.section_service .list_area .list_ul li .text_box.active {opacity:1;top:0;}
.section_service .list_area .list_ul li .text_box .title {font-size:24px;color:#000;font-weight:700;}
.section_service .list_area .list_ul li .text_box .text {font-size:16px;color:#666;line-height:28px;margin-top:5px;letter-spacing:-0.5px;}
.section_service .list_area .list_ul li .text_box .text span {font-weight:700;}
.section_service .list_area .list_ul li .text_box .text .etc {font-size:14px;font-weight:500;color:#999;}
.section_service .list_area .list_ul li .text_box .btn_detail_view {width:108px;height:33px;border:1px solid #000;position:absolute;right:20px;bottom:0;font-size:14px;color:#000;text-align:center;line-height:34px;}
.section_service .list_area .list_ul li .text_box .btn_detail_view:before {content:'';width:30px;height:9px;background:url('../images/service/ico_arrow_black.png') no-repeat 0 0;position:absolute;left:-16px;top:9px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.section_service .list_area .list_ul li .text_box .btn_detail_view:hover {background:#000;color:#fff;}
.section_service .list_area .list_ul li .text_box .btn_detail_view:hover:before {left:0;opacity:0;}

.section_service .list_area .list_ul.financial li .text_box {height:202px;position:relative;}
.section_service .list_area .list_ul.financial li .thumb .btn_detail_view {top:335px;}
.section_service .list_area .list_ul.financial li .thumb .btn_detail_view.active {top:310px;}
